
Server/Database
Server/Database_Playerbot
Server/Tools/Apache24
Server/Tools/php7
Server/Tools/Notepad
Server/website
Modules
Settings_Old
Settings/vanilla/logs
Settings/tbc/logs
Settings/wotlk/logs
Server/Binaries/vanilla/Bin64/Crashes/*
Server/Binaries/tbc/Bin64/Crashes/*
Server/Binaries/wotlk/Bin64/Crashes/*
Server/Binaries/vanilla/Bin64/*
Server/Binaries/tbc/Bin64/*
Server/Binaries/wotlk/Bin64/*

*.spp
*.on
*.off
*.txt
*.log
*.wget-hsts
sql/vanilla/world.sql
sql/tbc/world.sql
sql/wotlk/world.sql
sql/cata/world.sql
Saves
!Changelog/*.txt
